/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("istockphoto-931844152-170667a.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    color: #fff;
}



h1 {
    color: goldenrod;
    margin: 40px 0 20px 0;
}

#message-el{
    font-style: italic;
}

p {
    margin: 20px 0;
}

#btns{
    display: flex;
    flex-direction: column;
}

button {
    color:#016f32;
    width:150px;
    background: goldenrod;
    padding: 5px 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    align-self: center;
    margin: 2px;
}

